* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 1em;
  color: #313131;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inputContent label {
  display: block;
  font-size: 1.1em;
}

.inputContent #logInput {
  margin: 5px 0;
  padding: 5px;
  resize: none;
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
  border: 2px solid #ADADAD;
}

.content .errorOutput {
  margin-top: 3px;
}